-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    #{rating}
    -# .include? is a self-searching function for whatever's passed into it
    -if params[:ratings]
      = check_box_tag "ratings[#{rating}]", rating, params[:ratings].include?(rating)
    -else
      = check_box_tag "ratings[#{rating}]", rating
  = submit_tag 'Refresh'

%table#movies
  %thead
    %tr
      %th{:class => ('hilite' if @title_ordered)}= link_to "Movie Title", {:order => 'title', :class =>'hilite'}
      %th Rating
      %th{:class => ('hilite' if @date_ordered)}= link_to "Release Date", {:order=> 'release_date', :class=>'hilite'}
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
